*{
    margin: 0;
    padding: 0;
    font-family:sans-serif; 
}

body{
    background-image: url(images/background.jpg);
     background-color: rgb(56, 56, 175);
     height: 100vh;
     background-position: center;
}

.logo img{
    position: absolute;
    left: 2%;
    top: 2%;
    width: 200px;
    border: 3px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}

.navigation {
    max-width: 1200px;
    margin: auto;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    position: absolute right;
}

ul li {
    display: inline-block;
    position: relative;
    right: 0px;
    top: 0px;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
background-color: white;
color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5%;
    width: 98%;
    margin: 10px;
}


h1{
    color: white;
    margin-bottom: 5px;
}

.video_photo {
    display: flex;
    flex-direction: row; /* Changed from default column to row */
}

#webcam {
    transform: scaleX(-1);
}

#canvas {
    background-color: azure;
}

#capturedImage {
    transform: scaleX(-1);
}

.button{
    color: white;
    background-color: transparent;
    width: 200px;
    height: 50px;
    margin: 5px;
}