<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandWave</title>
    <link rel="icon" type="image/x-icon" href="img/logo.png">
    {% load static %}
    <link rel="stylesheet" href="{% static "reviews.css" %}">
</head>

<body>
    <header>
        <nav>
        <div class="navigation">
            <div class="logo">
                <a href="/"><img src="{% static 'images/logo.jpg' %}" alt="LOGO"></a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/project">Project</a></li>
                <li class="active"><a href="/reviews">Reviews</a></li>
            </ul>
        </div>
        </nav>
    </header>
        


    <section class="review" id="review">
        <h1 class="heading"><span>User's</span> Review</h1>
        <div class="box-container">
            <div class="box">
                <img src="./Images/index/doubleQuotes.png"alt="Double Quotes" class="qoutes">
                <p>I can't begin to articulate the profound impact Ment.OS has had on my mental health journey. It's been an absolute game-changer, providing a beacon of hope when I needed it most. This platform has truly transformed my approach to self-care and well-being. I'm endlessly grateful for the support and resources Ment.OS has provided, guiding me toward a brighter and more fulfilling path.</p>
                <img src="./Images/index/review1.png" alt="User 1" class="user">
                <h3>Steffi Sen</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="box">
                <img src="./Images/index/doubleQuotes.png"alt="Double Quotes" class="qoutes">
                <p>One of the standout features of Ment.OS is its commitment to inclusivity and diversity, setting it apart as a truly welcoming space for individuals from all walks of life. Whether you're a teenager grappling with anxiety or a retiree navigating loneliness, it offers tailored support and guidance to meet your unique needs. It's a place where everyone feels welcomed.</p>
                <img src="./Images/index/review2.png" alt="User 2"class="user">
                <h3>Rhea Das</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="box">
                <img src="./Images/index/doubleQuotes.png"alt="Double Quotes" class="qoutes">
                <p>The content provided on the website is not only informative but also incredibly reassuring. The resources cover a wide range of mental health topics, offering insights and practical tips that resonate deeply with users. Whether you're coping with depression, or improving self-esteem, it provided comprehensive resources to guide me toward greater understanding in my mental health journey.</p>
                <img src="./Images/index/review3.png" alt="User 3"class="user">
                <h3>James Watt</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>
    </section>
</body>
</html>