<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HandWave</title>
        <link rel="icon" type="image/x-icon" href="img/logo.png">
        {% load static %}
        <link rel="stylesheet" href="{% static "reviews.css" %}">
    </head>

<body>
    <header>
        <nav>
            <div class="navigation">
                <div class="logo">
                    <a href="/"><img src="{% static 'images/logo.jpg' %}" alt="LOGO"></a>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/project">Project</a></li>
                    <li class="active"><a href="/reviews">Reviews</a></li>
                </ul>
            </div>
        </nav>
    </header>
        
    <div class="main">
        <h1 class="title">USER REVIEWS</h1>
        <div class="review">
            <div class="box-container">
                <!-- Review 1 -->
                <div class="box">
                    <img class="user" src="{% static 'images/logo.jpg' %}" alt="User 1">
                    <h3>Vaishnavi Poti</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>"HandWave makes communication with ISL users effortless, bridging the gap between sign language and English seamlessly."</p>
                </div>
                <!-- Review 2 -->
                <div class="box">
                    <img class="user" src="{% static 'images/logo.jpg' %}" alt="User 2">
                    <h3>Prasad Satpute</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>"Finally, a user-friendly platform like HandWave that enhances inclusivity by breaking down language barriers."</p>
                </div>
                <!-- Review 3 -->
                <div class="box">
                    <img class="user" src="{% static 'images/logo.jpg' %}" alt="User 3">
                    <h3>Meet Raut</h3>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>"As someone who is passionate about accessibility, HandWave has become my go-to tool for accurately translating ISL to English with ease."</p>
                </div>
                <!-- Add more review boxes if needed -->
                
            </div>
        </div>
    </div>
    
</body>
</html>
